*.o
/clobber-*.out
aw/aw
codereview/codereview
codesign/findcrypto
codesign/signit
codesign/signproto
cscope-fast/cscope-fast
ctf/ctfstrip/ctfstrip
ctf/cvt/*/ctfconvert
ctf/cvt/*/ctfmerge
ctf/dump/*/ctfdump
ctf/dwarf/*/libdwarf.so.1
ctf/scripts/ctfcvtptbl
ctf/scripts/ctffindmod
ctf/stabs/*/ctfstabs
cw/cw
elfextract/elfextract
elfsign/elfsign
elfsign/elfsigncmp
env/developer
env/gatekeeper
env/illumos
findunref/exception_list
findunref/findunref
gk/cshrc
gk/gen_make.machines
gk/login
install-*.out
install.bin/install.bin
lintdump/lintdump
mbh_patch/mbh_patch
ndrgen/ndrgen
ndrgen/ndrgen1
ndrgen/y.tab.c
ndrgen/y.tab.h
onbld/Checks/python2.*/
onbld/Scm/python2.*/
onbld/hgext/python2.*/
onbld/python2.*/
pmodes/pmodes
proto/
protocmp/protocmp
protolist/protolist
scripts/Install
scripts/bindrop
scripts/bldenv
scripts/bldenv.1
scripts/bringovercheck
scripts/build_cscope
scripts/cddlchk
scripts/check_rtime
scripts/checkpaths
scripts/checkproto
scripts/copyrightchk
scripts/cryptodrop
scripts/cstyle
scripts/elfcmp
scripts/find_elf
scripts/flg.flp
scripts/genoffsets
scripts/git-pbchk
scripts/hdrchk
scripts/hg-active
scripts/hgsetup
scripts/interface_check
scripts/interface_cmp
scripts/jstyle
scripts/mapfilechk
scripts/mkreadme_osol
scripts/mktpl
scripts/nightly
scripts/onu
scripts/protocmp.terse
scripts/sccscheck
scripts/validate_flg
scripts/validate_paths
scripts/validate_pkg
scripts/wdiff
scripts/webrev
scripts/which_scm
scripts/ws
scripts/wsdiff
scripts/xref

