.make.state
THIRDPARTYLICENSE
THIRDPARTYLICENSE.*
/.build.tstamp
/check-*.out
/clobber-*.out
/ELF-data.*/
/install-*.out
/install-nd-*.out
/lint-*.out
/lint-noise-*.out
/lint-noise-*.ref
/noise-*.out
/noise-*.ref
