*.so.*
*.ln
msg.c
msg.h
.make.state.*
lint.out
ar/*/ar
ar/*/ar.xpg4
crle/*/crle
dump/*/dump
elfdump/*/elfdump
elfdump/*/gen_struct_layout
elfedit/*/elfedit
elfedit/modules/*/*.so
elfedit/modules/*/*_msg.c
elfedit/modules/*/*_msg.h
elfwrap/*/elfwrap
error/*/error
gprof/*/gprof
lari/lari
ld/*/ld
ldd/*/ldd
lddstub/*/lddstub
lex/common/parser.c
lex/*/lex
lib*/*/lib*.so
link_audit/*/perfcnt
link_audit/*/symbindrep
link_audit/*/dumpbind
link_audit/*/perfcnt
link_audit/*/sotruss
link_audit/*/symbindrep
link_audit/*/whocalls
lorder/lorder
m4/common/m4y.c
m4/common/m4y_xpg4.c
m4/*/m4
m4/*/m4.xpg4
mcs/*/mcs
messages/*/*
moe/*/moe
nm/*/nm
nm/*/nm.xpg4
prof/*/prof
pvs/*/pvs
ranlib/ranlib
rtld/mdbmod/*/ld.so
size/*/size
symorder/symorder
tools/*/piglatin
tools/*/sgsmsg
tsort/*/tsort
unifdef/*/unifdef
yacc/*/yacc
