*.ln
*.so
*.so.*
.make.state.*
lint.out
lint.out.1
msg.c
msg.h
ar/*/ar
ar/*/ar.xpg4
crle/*/crle
dump/*/dump
elfdump/*/elfdump
elfdump/*/gen_struct_layout
elfedit/*/elfedit
elfedit/modules/*/*.so
elfedit/modules/*/*_msg.c
elfedit/modules/*/*_msg.h
elfwrap/*/elfwrap
error/*/error
gprof/*/gprof
lari/lari
ld/*/ld
ldd/*/ldd
lddstub/*/lddstub
lex/common/parser.c
lex/*/lex
lib*/*/lib*.so
libconv/*/arch_msg.c
libconv/*/arch_msg.h
libconv/*/audit_msg.c
libconv/*/audit_msg.h
libconv/*/bld_vernote
libconv/*/c_literal_msg.c
libconv/*/c_literal_msg.h
libconv/*/cap_msg.c
libconv/*/cap_msg.h
libconv/*/config_msg.c
libconv/*/config_msg.h
libconv/*/corenote_msg.c
libconv/*/corenote_msg.h
libconv/*/data_msg.c
libconv/*/data_msg.h
libconv/*/deftag_msg.c
libconv/*/deftag_msg.h
libconv/*/demangle_msg.c
libconv/*/demangle_msg.h
libconv/*/dl_msg.c
libconv/*/dl_msg.h
libconv/*/dwarf_ehe_msg.c
libconv/*/dwarf_ehe_msg.h
libconv/*/dwarf_msg.c
libconv/*/dwarf_msg.h
libconv/*/dynamic_msg.c
libconv/*/dynamic_msg.h
libconv/*/elf_msg.c
libconv/*/elf_msg.h
libconv/*/entry_msg.c
libconv/*/entry_msg.h
libconv/*/globals_msg.c
libconv/*/globals_msg.h
libconv/*/group_msg.c
libconv/*/group_msg.h
libconv/*/lddstub_msg.c
libconv/*/lddstub_msg.h
libconv/*/libconv.a
libconv/*/map_msg.c
libconv/*/map_msg.h
libconv/*/phdr_msg.c
libconv/*/phdr_msg.h
libconv/*/relocate_*_msg.c
libconv/*/relocate_*_msg.h
libconv/*/report_bufsize.h
libconv/*/sections_msg.c
libconv/*/sections_msg.h
libconv/*/segments_msg.c
libconv/*/segments_msg.h
libconv/*/symbols_msg.c
libconv/*/symbols_msg.h
libconv/*/symbols_*_msg.c
libconv/*/symbols_*_msg.h
libconv/*/syminfo_msg.c
libconv/*/syminfo_msg.h
libconv/*/time_msg.c
libconv/*/time_msg.h
libconv/*/vernote.s
libconv/*/version_msg.c
libconv/*/version_msg.h
libelf/*/xlate.c
libelf/*/xlate64.c
librtld_db/demo/Makefile.com.demo
librtld_db/demo/Makefile.targ.demo
librtld_db/demo/*/Makefile.demo
link_audit/*/perfcnt
link_audit/*/symbindrep
link_audit/*/dumpbind
link_audit/*/perfcnt
link_audit/*/sotruss
link_audit/*/symbindrep
link_audit/*/whocalls
lorder/lorder
m4/common/m4y.c
m4/common/m4y_xpg4.c
m4/*/m4
m4/*/m4.xpg4
mcs/*/mcs
messages/*/*
moe/*/moe
nm/*/nm
nm/*/nm.xpg4
prof/*/prof
proto/
pvs/*/pvs
ranlib/ranlib
rtld/mdbmod/*/ld.so
size/*/size
symorder/symorder
tools/*/piglatin
tools/*/sgsmsg
tsort/*/tsort
unifdef/*/unifdef
yacc/*/yacc
