*.symbols.debug32.diff
*.symbols.debug32.tmp
*.symbols.debug32.tmp.new
*.symbols.debug64.diff
*.symbols.debug64.tmp
*.symbols.debug64.tmp.new
*.symbols.obj32.diff
*.symbols.obj32.tmp
*.symbols.obj32.tmp.new
*.symbols.obj64.diff
*.symbols.obj64.tmp
*.symbols.obj64.tmp.new
ao_gendisp
ao_gendisp.pl
debug32/
debug64/
obj32/
obj64/
*/arcfour/*.s
*/cpu/scripts/ao_gendisp.pl
*/io/dr/dr_err.c
*/io/dr/sbdgenerr
*/md5/*.s
*/os/priv_names
*/sha1/*.s
*/sha2/*.s
*/sockfs/nl7ctokgen.h
*/uathfw/uathbin
common/avs/ns/rdc/rdc_prot.h
common/gssapi/gssd_prot.c
common/gssapi/gssd_prot.h
common/gssapi/gssd_xdr.c
common/idmap/idmap_xdr.c
common/io/fibre-channel/fca/qlc/ql_fw_table.c
common/io/lvm/md/meta_basic_xdr.c
common/io/lvm/md/metamed_xdr.c
common/io/usb/clients/hwa1480_fw/i1480/hwa1480_fw
common/os/priv_const.c
common/rpc/key_prot.h
common/rpc/pmap_prot.h
common/rpc/rpc_sztypes.h
common/rpc/rpcb_prot.h
common/rpcsvc/autofs_prot.h
common/rpcsvc/idmap_prot.h
common/rpcsvc/nsm_addr.h
common/rpcsvc/sm_inter.h
common/sys/lvm/md_basic.h
common/sys/lvm/md_mdiox.h
common/sys/lvm/md_mhdx.h
common/sys/lvm/mdmed.h
common/sys/lvm/mdmn_commd.h
common/sys/priv_const.h
common/sys/priv_names.h
common/sys/usb/usbdevs.h
i86pc/io/acpi/drmach_acpi/drmach_err.c
i86pc/io/acpi/drmach_acpi/sbdgenerr
i86pc/unix/multiboot
intel/mwlfw/mw88W8363fw
intel/mwlfw/mwlboot
