man1/*.1
man1b/*.1b
man1c/*.1c
man1has/*.1has
man1m/*.1m
man2/*.2
man3/*.3
man3bsm/*.3bsm
man3c/*.3c
man3c_db/*.3c_db
man3cfgadm/*.3cfgadm
man3commputil/*.3commputil
man3contract/*.3contract
man3cpc/*.3cpc
man3curses/*.3curses
man3dat/*.3dat
man3devid/*.3devid
man3devinfo/*.3devinfo
man3dlpi/*.3dlpi
man3dns_sd/*.3dns_sd
man3elf/*.3elf
man3exacct/*.3exacct
man3ext/*.3ext
man3fcoe/*.3fcoe
man3fstyp/*.3fstyp
man3gen/*.3gen
man3gss/*.3gss
man3head/*.3head
man3iscsit/*.3iscsit
man3kstat/*.3kstat
man3kvm/*.3kvm
man3ldap/*.3ldap
man3lgrp/*.3lgrp
man3lib/*.3lib
man3libucb/*.3libucb
man3mail/*.3mail
man3malloc/*.3malloc
man3mp/*.3mp
man3mpapi/*.3mpapi
man3nsl/*.3nsl
man3nvpair/*.3nvpair
man3pam/*.3pam
man3papi/*.3papi
man3perl/*.3perl
man3picl/*.3picl
man3picltree/*.3picltree
man3pool/*.3pool
man3proc/*.3proc
man3project/*.3project
man3resolv/*.3resolv
man3rpc/*.3rpc
man3rsm/*.3rsm
man3sasl/*.3sasl
man3scf/*.3scf
man3sec/*.3sec
man3secdb/*.3secdb
man3sip/*.3sip
man3slp/*.3slp
man3socket/*.3socket
man3stmf/*.3stmf
man3sysevent/*.3sysevent
man3tecla/*.3tecla
man3tnf/*.3tnf
man3tsol/*.3tsol
man3ucb/*.3ucb
man3uuid/*.3uuid
man3volmgt/*.3volmgt
man3xcurses/*.3xcurses
man3xnet/*.3xnet
man4/*.4
man5/*.5
man7/*.7
man7d/*.7d
man7fs/*.7fs
man7i/*.7i
man7ipp/*.7ipp
man7m/*.7m
man7p/*.7p
man9/*.9
man9e/*.9e
man9f/*.9f
man9p/*.9p
man9s/*.9s
