*.c.lint
*.i
*.ln
*.x
etc/svm.cleanup
etc/svm.save
md_monitord/*/mdmonitord
md_monitord/svc-mdmonitor
metassist/metassist
metassist/scripts/errifoutput
rpc.mdcommd/*/mddoors
rpc.mdcommd/*/mdmn_commd_xdr.c
rpc.mdcommd/*/rpc.mdcommd
rpc.metad/*/metad_svc.c
rpc.metad/*/rpc.metad
rpc.metamedd/*/meta_basic_xdr.c
rpc.metamedd/*/metamed_svc.c
rpc.metamedd/*/metamed_xdr.c
rpc.metamedd/*/rpc.metamedd
rpc.metamhd/*/metamhd_svc.c
rpc.metamhd/*/metamhd_xdr.c
rpc.metamhd/*/mhdx_xdr.c
rpc.metamhd/*/rpc.metamhd
util/growfs
util/*/medstat
util/*/metaclear
util/*/metaclust
util/*/metadb
util/*/metadetach
util/*/metadevadm
util/*/metahs
util/*/metaimport
util/*/metainit
util/*/metaoffline
util/*/metaonline
util/*/metaparam
util/*/metarecover
util/*/metarename
util/*/metareplace
util/*/metaroot
util/*/metaset
util/*/metastat
util/*/metasync
util/*/metattach
