*.i
*.ln
lib*.msg
*.o
*.pc
*.po
*.pyc
*.so
*.so.*
*.y
lint.out
msgcc.out
msgs/
pics/
tmpastinclude/
brand/shared/brand/*/assym.h
brand/shared/zone/query
brand/sn1/zone/sn1_boot
brand/solaris10/cmd/s10_isaexec_wrapper
brand/solaris10/cmd/s10_native
brand/solaris10/cmd/s10_net_physical
brand/solaris10/cmd/s10_python_wrapper
brand/solaris10/s10_replacefile/s10_replacefile
brand/solaris10/s10_support/s10_support
brand/solaris10/zone/attach
brand/solaris10/zone/clone
brand/solaris10/zone/detach
brand/solaris10/zone/image_install
brand/solaris10/zone/p2v
brand/solaris10/zone/postattach
brand/solaris10/zone/poststate
brand/solaris10/zone/prestate
brand/solaris10/zone/preuninstall
brand/solaris10/zone/s10_boot
brand/solaris10/zone/uninstall
cfgadm_plugins/sbd/common/ap_err.c
cfgadm_plugins/sbd/sbdgenerr
c_synonyms/*/mapfile-vers
c_synonyms/*/synonym_list
fm/libfmd_adm/*/fmd_rpc.c
fm/libfmd_adm/*/fmd_rpc_adm.h
fm/libfmd_adm/*/fmd_rpc_adm.x
fm/libfmd_adm/*/fmd_xdr.c
fm/libfmevent/common/fmev_errstring.c
fm/topo/maps/*/*.xml
fm/topo/libtopo/common/topo_error.c
fm/topo/libtopo/common/topo_tables.c
gss_mechs/mech_krb5/*/kwarnd.h
gss_mechs/mech_krb5/*/kwarnd_clnt.c
gss_mechs/mech_krb5/*/kwarnd_clnt_stubs.c
gss_mechs/mech_krb5/*/kwarnd_handle.c
gss_mechs/mech_krb5/*/kwarnd_xdr.c
gss_mechs/mech_dh/backend/mech/dhmech_prot.h
gss_mechs/mech_dh/backend/mech/xdr_token.c
krb5/kadm5/clnt/iprop.h
krb5/kdb/iprop.h
krb5/kdb/iprop_xdr.c
libbe/*/libbe.a
libbsm/audit_uevents.h
libbsm/common/adt_event.h
libbsm/common/adt_xlate.c
libc/*/etc/caplib
libc/*/assym.h
libc/*/genassym
libc/*/libc_pic.a
libc/*/crt/_rtbootld.s
libc/extract-copyright
libc/port/gen/errlst.c
libc/port/gen/new_list.c
libcurses/screen/curses.h
libcurses/screen/keycaps
libcurses/screen/keyname.c
libcurses/screen/term.h
libcurses/screen/termcap.c
libcurses/screen/tifget.c
libcurses/screen/tifnames.c
libcurses/screen/tiget.c
libcurses/screen/tinames.c
libcurses/screen/tmp/
libcurses/screen/tnames.c
libdhcpsvc/head/dhcp_svc_confkey.h
libdns_sd/java/com/apple/dnssd/*.class
libdns_sd/java/com/apple/dnssd/*.jar
libdns_sd/java/com/apple/dnssd/docs/examples/*.class
libdns_sd/java/com/apple/dnssd/docs/examples/*.jar
libdns_sd/java/*/libjdns_sd.so.1
libdns_sd/java/com/apple/dnssd/DNSSD.java.h
libdtrace/*/dt_grammar.c
libdtrace/*/dt_grammar.h
libdtrace/*/dt_lex.c
libdtrace/*/regs.d
libdtrace/*/regs.sed
libdtrace/*/y.output
libdtrace/common/dt_errtags.c
libdtrace/common/dt_names.c
libdtrace/common/*.d
libdtrace/common/*.sed
libdtrace_jni/java/classes/
libdtrace_jni/java/lib/
libdtrace_jni/java/native/
libexacct/demo/exdump
libfsmgt/common/nfs_sec.c
libfsmgt/common/replica.c
libfsmgt/common/sharetab.c
libidmap/amd64/idmap_xdr.c
libidmap/i386/idmap_xdr.c
libipmi/common/ipmi_tables.c
libmd/amd64/md5_amd64.s
libmd/amd64/sha1-x86_64.s
libmd/amd64/sha256-x86_64.s
libmd/amd64/sha512-x86_64.s
libnisdb/db.h
libnisdb/db_c.h
libnisdb/db_c_xdr.c
libnisdb/db_dictionary.h
libnisdb/db_dictionary_c.h
libnisdb/db_dictionary_c_xdr.c
libnisdb/db_dictlog.h
libnisdb/db_dictlog_c.h
libnisdb/db_dictlog_c_xdr.c
libnisdb/db_entry.h
libnisdb/db_entry_c.h
libnisdb/db_entry_c_xdr.c
libnisdb/db_index.h
libnisdb/db_index_c.h
libnisdb/db_index_c_xdr.c
libnisdb/db_index_entry.h
libnisdb/db_index_entry_c.h
libnisdb/db_index_entry_c_xdr.c
libnisdb/db_item.h
libnisdb/db_item_c.h
libnisdb/db_item_c_xdr.c
libnisdb/db_log.h
libnisdb/db_log_c.h
libnisdb/db_log_c_xdr.c
libnisdb/db_log_entry.h
libnisdb/db_log_entry_c.h
libnisdb/db_log_entry_c_xdr.c
libnisdb/db_mindex.h
libnisdb/db_mindex_c.h
libnisdb/db_mindex_c_xdr.c
libnisdb/db_query.h
libnisdb/db_query_c.h
libnisdb/db_query_c_xdr.c
libnisdb/db_scheme.h
libnisdb/db_scheme_c.h
libnisdb/db_scheme_c_xdr.c
libnisdb/db_table.h
libnisdb/db_table_c.h
libnisdb/db_table_c_xdr.c
libnisdb/db_vers.h
libnisdb/db_vers_c.h
libnisdb/db_vers_c_xdr.c
libnsl/nis/gen/nis_clnt.h
libresolv2/include/make_os_version
libresolv2/include/os_version.h
libresolv2/include/port_ipv6.h
libresolv2/include/probe_ipv6
librpcsvc/common/bootparam_prot_xdr.c
librpcsvc/common/mount_xdr.c
librpcsvc/common/nlm_prot.c
librpcsvc/common/nsm_addr_xdr.c
librpcsvc/common/rpc_sztypes.c
librpcsvc/common/rstat_xdr.c
librpcsvc/common/rusers_xdr.c
librpcsvc/common/sm_inter_xdr.c
librpcsvc/common/spray_xdr.c
libsec/*/acl.output
libsec/*/acl.tab.c
libsec/*/acl.tab.h
libsec/*/acl_lex.c
libsecdb/auth_attr
libsecdb/exec_attr
libsecdb/prof_attr
libsecdb/user_attr
libshell/xsltproc.log
libslp/classes/
libsmbios/common/smb_tables.c
libsmedia/library/common/smed.h
libsmedia/library/common/smed_clnt.c
libsmedia/library/common/smed_xdr.c
libsqlite/*/lemon
libsqlite/*/lemon-build
libsqlite/*/lempar.c
libsqlite/*/opcodes.c
libsqlite/*/opcodes.h
libsqlite/*/parse.c
libsqlite/*/parse.h
libsqlite/*/parse_tmp.c
libsqlite/*/parse_tmp.h
libsqlite/*/parse_tmp.out
libsqlite/sqlite.h
libsum/*/libsum.msg
libsum/*/msgcc.out
libsum/*/msgs/
libsum/tmpastinclude/
libsys/*/libsys.c
libunistat/common/*/*.dtrnk
libunistat/common/*/*.edef
libunistat/common/*/*.msg
libunistat/common/*/*.trnk
libunistat/*/spcs_dtrinkets.h
libunistat/*/spcs_errors.h
libunistat/*/spcs_etext.h
libunistat/*/spcs_etrinkets.h
libuutil/native/sys/
libwanbootutil/common/key_xdr.c
libwanbootutil/common/key_xdr.h
libxcurses/h/term.h
libxcurses/src/libc/xcurses/boolcode.c
libxcurses/src/libc/xcurses/boolfnam.c
libxcurses/src/libc/xcurses/boolname.c
libxcurses/src/libc/xcurses/keyindex.c
libxcurses/src/libc/xcurses/numcode.c
libxcurses/src/libc/xcurses/numfnam.c
libxcurses/src/libc/xcurses/numname.c
libxcurses/src/libc/xcurses/strcode.c
libxcurses/src/libc/xcurses/strfnam.c
libxcurses/src/libc/xcurses/strname.c
libxcurses2/h/term.h
libxcurses2/src/libc/xcurses/boolcode.c
libxcurses2/src/libc/xcurses/boolfnam.c
libxcurses2/src/libc/xcurses/boolname.c
libxcurses2/src/libc/xcurses/keyindex.c
libxcurses2/src/libc/xcurses/numcode.c
libxcurses2/src/libc/xcurses/numfnam.c
libxcurses2/src/libc/xcurses/numname.c
libxcurses2/src/libc/xcurses/strcode.c
libxcurses2/src/libc/xcurses/strfnam.c
libxcurses2/src/libc/xcurses/strname.c
libzfs/common/libzfs_error.c
libzpool/common/zfs.h
lvm/libmeta/*/libmeta.dc
lvm/libmeta/*/mdiox_xdr.c
lvm/libmeta/*/mdmn_commd_xdr.c
lvm/libmeta/*/meta_basic_xdr.c
lvm/libmeta/*/metad_clnt.c
lvm/libmeta/*/metad_xdr.c
lvm/libmeta/*/metamed_clnt.c
lvm/libmeta/*/metamed_xdr.c
lvm/libmeta/*/metamhd_clnt.c
lvm/libmeta/*/metamhd_xdr.c
lvm/libmeta/*/mhdx_xdr.c
pkcs11/libsoftcrypto/amd64/arcfour-x86_64.s
print/libpapi-lpd/*/lpd-port
scsi/libscsi/common/scsi_errno.c
scsi/libses/common/ses_errno.c
scsi/libsmp/common/smp_errno.c
scsi/plugins/ses/libses/common/libses_elemtype.c
smbsrv/libmlrpc/*/rpcpdu_ndr.c
smbsrv/libmlsvc/*/dssetup_ndr.c
smbsrv/libmlsvc/*/eventlog_ndr.c
smbsrv/libmlsvc/*/libmlsvc.so.1
smbsrv/libmlsvc/*/lsarpc_ndr.c
smbsrv/libmlsvc/*/msgsvc_ndr.c
smbsrv/libmlsvc/*/netdfs_ndr.c
smbsrv/libmlsvc/*/netlogon_ndr.c
smbsrv/libmlsvc/*/samrpc_ndr.c
smbsrv/libmlsvc/*/spoolss_ndr.c
smbsrv/libmlsvc/*/srvsvc_ndr.c
smbsrv/libmlsvc/*/svcctl_ndr.c
smbsrv/libmlsvc/*/winreg_ndr.c
smbsrv/libsmb/common/smb_status_tbl.h
