*.ln
*.po
cfgadm_plugins/sbd/common/ap_err.c
cfgadm_plugins/sbd/sbdgenerr
fm/topo/maps/*/*.xml
gss_mechs/mech_krb5/amd64/kwarnd.h
gss_mechs/mech_krb5/amd64/kwarnd_clnt.c
gss_mechs/mech_krb5/amd64/kwarnd_clnt_stubs.c
gss_mechs/mech_krb5/amd64/kwarnd_handle.c
gss_mechs/mech_krb5/amd64/kwarnd_xdr.c
gss_mechs/mech_krb5/i386/kwarnd.h
gss_mechs/mech_krb5/i386/kwarnd_clnt.c
gss_mechs/mech_krb5/i386/kwarnd_clnt_stubs.c
gss_mechs/mech_krb5/i386/kwarnd_handle.c
gss_mechs/mech_krb5/i386/kwarnd_xdr.c
libbe/*/libbe.a
libc/extract-copyright
libc/i386/etc/caplib
libcurses/screen/tmp/
libdns_sd/java/com/apple/dnssd/*.class
libdns_sd/java/com/apple/dnssd/*.jar
libdns_sd/java/com/apple/dnssd/docs/examples/*.class
libdns_sd/java/com/apple/dnssd/docs/examples/*.jar
libdns_sd/java/*/libjdns_sd.so.1
libdns_sd/java/*/pics/
libdns_sd/java/com/apple/dnssd/DNSSD.java.h
libdtrace/*/libdtrace_forceload.so
libdtrace/*/pics/
libfsmgt/common/nfs_sec.c
libfsmgt/common/replica.c
libfsmgt/common/sharetab.c
libresolv2/include/make_os_version
libresolv2/include/probe_ipv6
libsec/*/acl.output
libshell/xsltproc.log
libuutil/native/libuutil.so
libuutil/native/pics/
libuutil/native/sys/
libwanbootutil/common/key_xdr.c
libwanbootutil/common/key_xdr.h
libzpool/*/pics/
print/libpapi-lpd/i386/lpd-port
pysolaris/common/*.pyc
pyzfs/common/*.pyc
