avs/ns/rdc/rdc_prot.h
gssapi/gssd_prot.c
gssapi/gssd_prot.h
gssapi/gssd_xdr.c
idmap/idmap_xdr.c
io/fibre-channel/fca/qlc/ql_fw_table.c
io/lvm/md/meta_basic_xdr.c
io/lvm/md/metamed_xdr.c
io/usb/clients/hwa1480_fw/i1480/hwa1480_fw
os/priv_const.c
rpc/key_prot.h
rpc/pmap_prot.h
rpc/rpc_sztypes.h
rpc/rpcb_prot.h
rpcsvc/autofs_prot.h
rpcsvc/idmap_prot.h
rpcsvc/nsm_addr.h
rpcsvc/sm_inter.h
sys/lvm/md_basic.h
sys/lvm/md_mdiox.h
sys/lvm/md_mhdx.h
sys/lvm/mdmed.h
sys/lvm/mdmn_commd.h
sys/priv_const.h
sys/priv_names.h
sys/usb/usbdevs.h
