*.eft
*.ln
*.mo
*.so
y.output
y.tab.c
y.tab.h
eversholt/eftinfo/*/eftinfo
eversholt/esc/*/esc
fmadm/*/fmadm
fmd/common/fmd_error.c
fmd/common/fmd_rpc_adm.h
fmd/common/fmd_rpc_api.h
fmd/*/fmd
fmd/*/fmd_svc_adm.c
fmd/*/fmd_svc_api.c
fmd/*/fmd_xdr_adm.c
fmd/*/fmd_xdr_api.c
fmdump/*/fmdump
fminject/*/fminject
fminject/*/inj_grammar.c
fminject/*/inj_grammar.h
fminject/*/inj_lex.c
fmstat/*/fmstat
fmtopo/*/fmtopo
ipmitopo/*/ipmitopo
notify/smtp-notify/*/process_msg_template.sh
notify/smtp-notify/*/smtp-notify
notify/snmp-notify/*/snmp-notify
scripts/buildcode
scripts/bustcode
scripts/dictck
scripts/fmsim
