*.ln
dmod/
kmod/
*/*/dof/dof_names.c
*/*/dtrace/dof_names.c
*/*/kmdb/kmdb_context_off.h
*/*/kmdb/kmdb_modlinktest.c
*/*/kmdb/kmdb_terminfo.c
*/*/kmdb/kmdbmod
*/*/kmdb/kmdbmod.core
*/*/kmdb/mapfile
*/*/kmdb/mapfile.i
*/*/kmdb/mdb_grammar.c
*/*/kmdb/mdb_grammar.h
*/*/kmdb/mdb_lex.c
*/*/kmdb/y.output
*/*/libstand/libstand.a
*/*/libstandctf/libstandctf.so
*/*/mdb/mdb
*/*/mdb/mdb_grammar.c
*/*/mdb/mdb_grammar.h
*/*/mdb/mdb_lex.c
*/*/mdb/y.output
tools/scripts/hdr2map
tools/scripts/map2linktest
tools/scripts/mdb
tools/scripts/mkmodules
tools/scripts/tigen
tools/setdynflag/i386/setdynflag
